.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  position: relative;
}

.project-card {
  background-color: var(--bg-card);
  padding: 2rem 1.75rem;
  border-radius: 4px;
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  cursor: default;
}

.project-card:hover {
  transform: translateY(-7px);
}

.project-top {
  display: flex;
  justify-content: space-between;
  text-align: right; /* Icons to right? */
  align-items: center;
  margin-bottom: 30px;
}

.folder-icon {
  color: var(--accent);
}

.folder-icon svg {
  width: 40px;
  height: 40px;
}

.project-links a {
  color: var(--text-secondary);
}

.project-links a:hover {
  color: var(--accent);
}

.project-links svg {
  width: 20px;
  height: 20px;
}

.project-title {
  color: var(--text-primary);
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.project-description {
  color: var(--text-secondary);
  font-size: 1rem;
}

.project-tech-list {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
}

.project-tech-list li {
  font-family: var(--font-mono);
  font-size: 0.8rem;
  color: var(--text-secondary);
  margin-right: 15px;
}
